// These colors are specific to the theme. Do not use in a package!

@eggshell-white: #FEFFE8;
@very-light-gray: #c5c8c6;
@light-gray: #969896;
@gray: #373b41;
@dark-gray: #282a2e;
@very-dark-gray: #1d1f21;

@cyan: #8abeb7;
@blue: #66d9ef;
@purple: #816DA7;
@green: #2CB199;
@red: #cc6666;
@orange: #FD971F;
@light-orange: #f0c674;


// Pastel Colors

@pastel-blue-1: #229AD8;
@pastel-blue-2: #BBE8FC;
@pastel-blue-3: #66d9ef;
@pastel-green-1: #8FD8B4;
@pastel-green-2: #B7FFEE;
@pastel-green-3: #9AE37B;
@pastel-lavender-1: #EDCBFF;
@pastel-pink-1: #ff00c6;
@pastel-pink-2: #F1727C;
@pastel-red-1: #EF5961;
@pastel-yellow-1: #FFFAA7;
@neon-green-1: #06FF03;
@neon-yellow-1: #E3E908;
@neon-orange-1: #FFA003;
@neon-purple-1: #A006FF;
@pastel-orange-2: #E35405;
@pastel-orange-1: #FF8B02;
